@font-face {
  font-family: 'VTG Stencil Din Regular';
  src: 
  url('../fonts/vtg-stencil-din-regular.woff2') format('woff2'), 
  url('../fonts/vtg-stencil-din-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graebenbach Regular';
  src: 
  url('../fonts/graebenbach-regular.woff2') format('woff2'), 
  url('../fonts/graebenbach-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT America Mono Regular';
  src: 
  url('../fonts/gt-america-mono-regular.woff2') format('woff2'), 
  url('../fonts/gt-america-mono-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

